!!! 5

%html
  %head
    %title Decent Exposure
    %link(rel="stylesheet" href="/stylesheets/application.css")
    %link(rel='icon' type='image/png' href='/images/favicon.png')
    /[if IE]
      %script(type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js")
    :javascript
      try{Typekit.load();}catch(e){}
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-7742210-8']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    %meta(name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0")
  %body
    %header
      %h1
        %a(href="/") Decent Exposure
      .wrapper
        %h2
          a Ruby gem
          %br/
          for cleaner controllers
        %p
          %a(href="https://github.com/voxdolo/decent_exposure/wiki") read the wiki &rarr;
          %a(href="https://github.com/voxdolo/decent_exposure") fork me on Github &rarr;
    %nav
      %ul
        %li.overview
          %a{href: root_path, class: active_class_for(root_path)} Overview
        %li.usage
          %a{href: usage_path, class: active_class_for(usage_path)} Usage
        %li.advanced_usage
          %a{href: advanced_usage_path, class: active_class_for(advanced_usage_path)} Advanced Usage
        %li.contributing
          %a{href: contributing_path, class: active_class_for(contributing_path)} Contributing
    %article#main= yield
    %footer
      :markdown
        developed and maintained by [@voxdolo](http://twitter.com/voxdolo)  
        design by [@camerondaigle](http://twitter.com/camerondaigle) for [@hashrocket](http://twitter.com/hashrocket)
